@import"../utils/variables.scss";
@import"../utils/mixins.scss";


  
  .navbar {
  display: flex;
  font-family: $ff-shrikhand;
  font-size: 1.5rem;
  text-align: center;
  box-shadow: #1515153b 1px 2px;
  position: relative;
  height: 60px;
  width: 100%;
  padding: .5rem;
  align-items: center;
  justify-content: center;
}