@import "../utils/variables.scss";
@import "../utils/mixins.scss";

*, :after, :before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}
h1, h2, h3, h4, h5, h6, p, span {
  @include ff-roboto;
  line-height: 1.4;
}
h2 {
  margin-bottom: 2rem;
}
a {
  color: $dark-grey;
  text-decoration: unset;
  cursor: pointer;
}
img {
  user-select: none;
  max-width: 100%;
  height: auto;
}