@import"../utils/variables.scss";


*,
::before,::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $ff-roboto;
   
}

main {
     padding: 0 2rem;
}

h1 h2 h3 h4 h5 h6 {
    font-weight: 800;
}